<div class="actions">
    <div>
        <button class="toggle-camera"><i class="fa fa-camera"></i></button>
        <input class="chat-input" type="text" name="" id="chat">

        <button class="message-send" id="chat_btn"><i class="fa fa-arrow-right"></i></button>
    </div>
</div>