<div class="container-fluid dnd">
    <div class="download">
        <div class="leftside">
                    <span class="sub small">PDF</span><br>
                    <span class="topic"></span>
                </div>

                <div class="rightside">
                    <span class="sub-topics"></span>
                </div>
    </div>
</div>

<script src="../script/partials/downloads.js"></script>