<div class="heading">
    <div class="left">
        <span>What do you want to learn today?</span>
    </div>
    <div class="right">

    </div>
</div>

<div class="content1">
    {{!-- <div class="search">
        <input class="search-input" type="search" placeholder="Enter Search"/>
        <button class="search-btn"><i class="fa fa-search"></i></button>
    </div> --}}

    {{#each lessons }}
        <div class="lesson" onclick="openLesson(this);" data-lesson-id="{{#each this}}{{_id}}{{/each}}">
                <div class="leftside">
                    <span class="sub small">{{#each this}}{{subject}}{{/each}}</span><br>
                    <span class="topic">{{#each this}}{{title}}{{/each}}</span>
                </div>

                <div class="rightside">
                    <span class="sub-topics">{{#each this}}{{topic.length}}{{/each}}</span>
                </div>
        </div>
    {{/each}}

    
    
</div>