<div class="heading">
    <div class="left">
        <span>What do you want to learn today?</span>
    </div>
    <div class="right">

    </div>
</div>

<div class="content1">
    <div class="lesson">
        <div class="leftside">
            <span class="sub small">Mathematics</span><br>
            <span class="topic">Algebra 1</span>
        </div>
    </div>
    <div class="lesson">
        <div class="leftside">
            <span class="sub small">Mathematics</span><br>
            <span class="topic">Trigonometry</span>
        </div>
    </div>
</div>