<div class="heading">
    <div class="left">
        <i class="fa fa-user-circle"></i>
        <span>Name</span>
    </div>
    <div class="right">

    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-6 english">
            <div class="colhead">
                <i class="fa fa-scroll sub-icon"></i>
            </div>
            <div class="colcontent">
                <span class="sub">English</span><br>
                <div class="prog"><span>30 lessons</span></div>
            </div>
        </div>
        <div class="col-6 science">
            <div class="colhead">
                <i class="fa fa-atom sub-icon"></i>
            </div>
            <div class="colcontent">
                <span class="sub">Science</span><br>
                <div class="prog"><span>30 lessons</span></div>
            </div>
        </div>
    </div>
    <div class="row quote-row">
        
    </div>
    <div class="row">
        <div class="col-6 mathematics">
            <div class="colhead">
                <i class="fa fa-square-root-alt sub-icon"></i>
            </div>
            <div class="colcontent">
                <span class="sub">Mathematics</span><br>
                <div class="prog"><span>30 lessons</span></div>
            </div>
        </div>
        <div class="col-6 social-studies">
            <div class="colhead">
                <i class="fa fa-users sub-icon"></i>
            </div>
            <div class="colcontent">
                <span class="sub">Social Studies</span><br>
                <div class="prog"><span>30 lessons</span></div>
            </div>
        </div>
    </div>
</div>