<div class="heading">
    <div class="left">
        <i class="fa fa-user-circle"></i>
        <span>Name</span>
    </div>
    <div class="right">

    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-6 english" data-subject="english">
            <div class="colhead" data-subject="english">
                <i class="fa fa-scroll sub-icon" data-subject="english"></i>
            </div>
            <div class="colcontent" data-subject="english">
                <span class="sub" data-subject="english">English</span><br>
                <div class="prog" data-subject="english"><span>30 lessons</span></div>
            </div>
        </div>
        <div class="col-6 science" data-subject="science">
            <div class="colhead" data-subject="science">
                <i class="fa fa-atom sub-icon" data-subject="science"></i>
            </div>
            <div class="colcontent" data-subject="science">
                <span class="sub" data-subject="science">Science</span><br>
                <div class="prog"><span data-subject="science">30 lessons</span></div>
            </div>
        </div>
    </div>
    <div class="row quote-row">
        
    </div>
    <div class="row">
        <div class="col-6 mathematics" data-subject="mathematics">
            <div class="colhead" data-subject="mathematics">
                <i class="fa fa-square-root-alt sub-icon" data-subject="mathematics"></i>
            </div>
            <div class="colcontent" data-subject="mathematics">
                <span class="sub" data-subject="mathematics">Mathematics</span><br>
                <div class="prog"><span data-subject="mathematics">30 lessons</span></div>
            </div>
        </div>
        <div class="col-6 social-studies" data-subject="social-studies">
            <div class="colhead" data-subject="social-studies">
                <i class="fa fa-users sub-icon" data-subject="social-studies"></i>
            </div>
            <div class="colcontent" data-subject="social-studies">
                <span class="sub" data-subject="social-studies">Social Studies</span><br>
                <div class="prog"><span data-subject="social-studies">30 lessons</span></div>
            </div>
        </div>
    </div>
</div>