<section class="container-fluid h-100 main-container" style="background-color: silver;">
    
    <div class="welcome">
        <div class="welcomeMessage">
            <span class="w1">Welcome to</span><br/>
            <span class="appname">ğ“”-ğ“›ğ“®ğ“ªğ“»ğ“·ğ“®ğ“»</span><br/>
            <span class="w2">Ready to learn?</span>
        </div>
    </div>
    <div class="image">
        <img src="./assests/images/stud.png" alt="Student" height="300px" />
    </div>
    <div class="actions">
        <button type="button" class="btn btn-primary w-25">Primary</button><br/>
        <span>Already Having An Account: <span class="btnText">Log in</span></span>
    </div>
</section>

