<section class="container-fluid">

    <div class="overview views disappear">
        {{>overview}}
    </div>
    <div class="lessons views disappear">
        {{>lessons}}
    </div>
    <div class="chats views ">
        {{>chat}}
    </div>
    <div class="lessons views disappear">
    </div>
    <div class="lessons views disappear">

    </div>
    <nav class="nav-bar">
        <div class="row">
            <div class="col">
                <i class="fas fa-chart-pie nav-icon  active"></i>
            </div>
            <div class="col">
                <i class="fas fa-book-open nav-icon"></i>
            </div>
            <div class="col">
                <i class="fa fa-comment nav-icon"></i>
            </div>
            <div class="col">
                <i class="fas fa-chalkboard-teacher nav-icon"></i>
            </div>
            <div class="col">
                <i class="fas fa-cog nav-icon"></i>
            </div>
        </div>
    </nav>
</section>
<script src="./script/student.js"></script>