<div class="container-fluid">
    <div class="back">
        <i class="fa fa-arrow-left backbtn"></i>
        <span class="title">{{title}}</span>
    </div>
    <div class="foreword">
        {{foreword}}
    </div>
    <div class="list">
        {{#each topic}}
         <div class="list-item">
            <div class="heading">
                <span>{{title}}</span>
            </div>
            <div class="item">
                    <ol class="item-list">
                        <li data-item="hello">
                            <i class="fa fa-edit" data-item="hello"></i>
                            <span data-item="hello">Sub-Topic</span>
                        </li>
                        <hr/>
                    </ol>

                    <button type="button" class="btn btn-primary w-20" disabled>Take a test</button>
            </div>
        </div> 
        {{/each}}
    </div>

</div>

    <div class="open-lesson">
        <div class="lesson-head">
            <i class="fa fa-times close"></i>
        </div>
       <div class="content">
            {{#each topic}}
                {{explanation}}
            {{/each}}
       </div>
       <div class="end">
           <button type="button" class="btn btn-primary w-20">Done</button>
       </div>
    </div>

<script src="../script/topic.js"></script>